@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@theme {
  --color-gold-crayola: hsl(38, 61%, 73%);
  --color-smoky-1: hsla(40, 12%, 5%, 1);
  --color-smoky-2: hsla(30, 8%, 5%, 1);
  --color-smoky-3: hsla(0, 3%, 7%, 1);
  --color-eerie-1: hsla(210, 4%, 9%, 1);
  --color-eerie-2: hsla(210, 4%, 11%, 1);
  --color-eerie-3: hsla(180, 2%, 8%, 1);
  --color-eerie-4: hsla(0, 0%, 13%, 1);
  --color-quicksilver: hsla(0, 0%, 65%, 1);
  --color-davysgrey: hsla(30, 3%, 34%, 1);
  --font-forum: var(--font-forum), serif;
  --font-dmsans: var(--font-dm-sans), sans-serif;
}

body {
  background-color: hsl(210, 4%, 9%);
  color: #ffffff;
}